
/***************************************************Universal********************/
@font-face{
    font-family: Caviar Dreams;
    src: url(../Fonts/CaviarDreams.ttf);
}
@font-face{
    font-family: BlackSingature;
    src: url(../Fonts/BlackSingature.ttf);
}
@font-face{
    font-family:Smooth Fantasy;
    src: url(../Fonts/Smooth\ Fantasy.ttf);
}
@font-face{
    font-family: Freeds;
    src: url(../Fonts/Freeds-Regular.ttf);
}
@font-face{
    font-family: Amarillo;;
    src: url(../Fonts/Amarillo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    overflow-y: overlay;
    overflow-x: hidden;  
    font-family: Caviar Dreams;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
html{
    scroll-behavior:smooth;    
    font-size: 100%;
}



h1::selection{
    background-color: #79554840;
}
h2::selection{
    background: #ff98002e;
}
span::selection{
    background: #ff98002e;
}
p::selection {
    background: #ff98002e;
}

/*************************************Scrollbar*********************************/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background:transparent ;
}
::-webkit-scrollbar-thumb {
    background:rgb(0, 0, 0); 
    
    transition: 1s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 46); 
    transition: 2s ease-in-out;
}
/****************************************************************************************/
/***************************************************************************************************/
/*******************************************************Loading screen******************************/
.cylinder{
    width: 100%;
    margin: auto;
}
@media (min-width:500px){
    .cylinder{
        max-width:600px;
    }
}
@media (min-width:576px){
    .cylinder{
        max-width:840px;
    }
}
@media (min-width: 768px) {
    .cylinder{
        max-width: 1050px;
    }
  }
  
  @media (min-width: 992px) {
    .cylinder{
      max-width: 1200px;
    }
  }
  
  @media (min-width: 1200px) {
    .cylinder{
        max-width: 1538px;
    }
  }


/************************************LOADINGPAGE**************************************************/
div#loading {
    position: fixed;
    z-index: 800000;
    width: 100%;
    transition: 0.5s ease-in;
    background: #fefefe;
   height: 100%;
   margin: auto;
   display: flex;
   justify-content: center;
   pointer-events: none;
   align-items: center;
}
.img-container{
    display: flex;
    justify-content: center;
    pointer-events: none;
    align-items: center;
    height: 300px;
    width: 300px;
}

.img-container img {
    width: 100px;
    object-fit: cover;
    transition: 0.5s ease-in;
    
}
.greet {
    width: 100%;
    height: auto;
    position: fixed;
    background: #141414;
    margin: auto;
    height: 100%;
    left: 0%;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    pointer-events: none;
    
  }
  .greet h1{
    font-size: 3rem;
    pointer-events: none;
  }
  .greet h3 {
    font-size: 8rem;
    position: absolute;
    color: #2b2b2b;
    pointer-events: none;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
}
/***************************************************************************/

/************************************Navigation**************************************/
headnav{
    display: none;
}
.navmob{
    display: none;
}

.mob-logo h3{
    color: white;
    pointer-events: none;
    padding: 0;
    font-size: 24px;
    padding-top: 10px;
    font-family: Amarillo;
    position: relative;
    transition: 0.5s ease-in;
}

#pencet {
    display: flex;
    flex-direction: column;
    width: 58px;
    align-items: center;
    justify-content: center;
    height: 58px;
    cursor: pointer;
}
  #pencet span{
    background-color:ghostwhite;
    width:2em;
    height:.2em;
    margin:0.26em 0;
    display:block;
    transition: all .4s ease;
    transform-origin:0 0;
  }
  .simple span:nth-child(1) {
    transform: rotate(45deg) translate(1px, -1px);
  }
  
  .simple span:nth-child(2) {
    Transform: scaleX(0);
  }
  
  .simple span:nth-child(3) {
    transform: rotate(-45deg) translate(1px, 0);
  }
  
/****************************************Desktop Nav***************************************/

header{
    position: absolute;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content:center ;
    width: 100%;
    transition: .1s ease-in;
  }
  .navbar-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: auto;
    position: relative;
    height: 100px;
    transition: .5s;
    animation: 5s fade ease-out;
  }
  @keyframes fade{
    0%{
        opacity: 0;
        transform: translateY(-150px);
    }
    65%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
  }
  .logo-top a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-family: Amarillo;
    font-weight: bold;
    left: 27px;
    position: relative;
    transition: 0.3s ease-in;
  }
  
  .logo-top a:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: -8px;
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 25px;
    font-weight: 800;
    padding-bottom: 32px;
    padding-top: 33px;
    margin-left: 2px;
   
    text-transform: uppercase;
    transition: .5s;
  }
  nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.445);
    transition: 0.1s ease-in;
  }
/**************************************************/
/*****************************************************************landing page******************/
section{
    position: relative;
    width: 100%;
    margin: auto;
    overflow: hidden;
    background-color: black;
}
.intro {
    height: 768px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro h2 {
    position: relative;
    font-family: Freeds;
    z-index: 1;
    font-size: 3rem;
    padding: 3rem;
    letter-spacing: 0.5rem;
    line-height: 7rem;
    color: #ffffff;
    animation: 4s up ease-out;
}
@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    55%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
section h2 span {
    font-family: Aliens And Cows;
    position: relative;
    font-size: 14rem;
    color: white;
    left: -26px;
    letter-spacing: -1.5rem;
    animation: 5s upd ease-out;
}
@keyframes upd{
    0%{
        opacity: 0;
        transform: translateY(-700px);
    }
    55%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
section img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    object-fit: cover;
    height: 100%;
    opacity: 0.5;
    pointer-events: none;
    animation: 3s fadein ease-out;
}  
@keyframes fadein{
    0%{
        opacity: 0;
        height: 0%;
        
    }
    100%{
        opacity: 0.5;
        height: 100%;
        
    }
}
/*****************************************************************/
/*******************************************Blog page********************************************************/
.white{
    background-color: #ffffff;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 110px;
    padding-top:35px ;
}
.container{
    width: 1002px;
    margin: auto;
    height: auto;
    text-align: left;

}
.overlay{
    width: 100%;
    object-fit: cover;
   
    text-align: center;
    overflow: hidden;
    
    margin: 10px 0 57px;
}
.overlay img {
    width: 100%;
    object-fit: cover;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
.grid {
    display: flex;
    justify-content: center;
    margin-bottom: 57px;
}
.overlay.im {
    overflow: inherit;
}
.left {
    display: flex;
    flex-direction: column;
}

img.img1 {
    width: 100%;
    height: 100%;
    transform: translateY(9px);
    padding-right: 20px;
    object-fit: cover;
}
img.img2 {
    width: 50%;
    object-fit: cover;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
.right {
    margin-bottom: 82px;
    display: flex;
    margin-top: 78px;
    justify-content: center;
}

img.goi {
    width: 27%;
    /* height: 50%; */
    object-fit: cover;
    margin-right: 27px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
.container h1 {
    padding: 47px 0;
    font-size: 4rem;
    position: relative;
    font-weight: 800;
}
.container h1:before {
    position: absolute;
    content: '';
    width: 31%;
    height: 66px;
    left: 0px;
    bottom: 32px;
    border-right: 0;
    z-index: 1;
    border-top: 0;
    background: #00000038;
}

.container p {
    padding: 05px 0;
    font-size: 1.4rem;
    line-height: 2.5rem;
    color: #353535;
}
.container span{
    font-weight: 800;
    color: #262626;
    font-size: 2rem;
}
p.leftpart {
    padding-right: 26px;
}
.sub {
    padding-bottom: 20px;
}
.sub p{
    font-size: 1.4rem;
    line-height: 2.5rem;
}
.sub span{
    color: #262626;
    font-size: 2rem;
    font-weight: 800;
}

/*******************************************************************************/
/*****************************************Footer*************************************************/

.footer{
    width: 100%;
    height: auto;
    background-color: #161616;
    z-index: 3;
}
.about4 {
    position: relative;
    width: 100%;
    padding-top: 54px;
    height: auto;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: auto;
}

.about4 .logo a {
text-decoration: none;
color: #a5a5a5;
font-size: 1.8rem;
font-family: Amarillo;
font-weight: bold;
position: relative;
transition: 0.3s ease-in;
cursor:default;
}
.about4 .logo a:hover{
color: rgb(255, 255, 255);
transition: 0.5s  ease-in;
}
.navbar {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
position: relative;
padding: 40px;
height: 82px;
margin-bottom: 20px;
transition: .5s;
}
.navbar ul li{
list-style: none;
display: inline-block;
}
.navbar ul li a{
text-decoration: none;
color: rgb(179, 179, 179);
font-size: 18px;
padding: 1.2rem;
cursor: pointer;
transition: .5s;
}
.navbar ul li a:hover{
color: rgb(255, 255, 255);
background-color: rgb(29, 29, 29);
transition: 0.1s ease-in;
}

.copyright p{
color:rgb(87, 87, 87);
padding: 1rem;
}


/****************************************Media*************************/

@media (max-width:1220px){
    html{
        font-size: 90%;
    }
    .container {
        width: 1036px;
        padding: 54px;
        padding-top: 0;
        padding-bottom: 0;
    }
    .about4 .logo a {
        font-size: 2.3rem;
    }
}

@media (max-width:1150px){
    nav ul li a {
        font-size: 14px;
        padding: 18px;
    }
    .container {
        width: 988px;
        padding: 15px;
    }
}

@media (max-width:1050px){  
    html{
        font-size: 80%;
    }

    .container {
        width: 100%;
        padding:0  60px;
    }
    .sub {
        padding-left: 0px;
    }
}

@media (max-width:940px){      /*mob nav*/
    html {
        font-size: 74%;
    }
    header{
        display: none;
    }
    
    .about4 .logo a {
        font-size: 2.5rem;
    }
    .copyright p{
        padding: 1.5rem;
        font-size: 1.4rem;
        }
    
     /**************************mob nav***********/
     headnav {
        position: fixed;
        height: 80px;
        width: 100%;
        padding: 0 23px;
        display: flex;
        z-index: 16;
        margin: auto;
        align-items: center;
        overflow: hidden;
        justify-content: space-between;
        transition: 0.5s ease-out;
        animation: uptop 3.5s ease-out ;
    }
    @keyframes uptop{
        0%{
            opacity: 0;
            transform: translateY(-100px); 
        }
        70%{
            opacity: 0;  
            
        }
        100%{
            opacity: 1;
            transform: translateY(0px); 
        }
    }
    headnav.sticky{
        background-color: rgb(31, 31, 31);
        transition: 0.5s ease-in;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        z-index: 15;
        padding: 30px;
        width: 100%;
        height: 537px;
        background: #1f1f1f;
        transform: translateY(-100%);
        transition: 0.5s cubic-bezier(1, 0.01, 0, 1.01);
      }
      .navigation:after {
        position: absolute;
        content: '';
        width: 4%;
        height: 1px;
        background: #ff8100;
        bottom: 9px;
    }
      .navigation a {
        text-decoration: none;
        padding: 15px;
        font-size: 26px;
        color: white;
        font-weight: 700;
        text-align: center;
    }
    .navigation.Diam{
        transform: translateY(0%);
        transition: 0.5s cubic-bezier(1, 0.01, 0, 1.01);;
        border-radius: 0px;
        height: 528px;
    }
    /**************************nav********************/
    /*******************footer*/
    .navbar{
        display: none;
    }
}

@media (max-width:864px){

    .greet h3 {
        font-size:4.7rem;
    }
    
    
}

@media (max-width:811px){
}

@media (max-width:768px){
    
}

@media (max-width:600px){
    .container {
        padding: 30px;
        padding-bottom: 70px;
    }
    .right {
        flex-direction: column-reverse;
    }
    img.goi {
        object-fit: cover;
        margin-top: 27px;
        margin-right: 0;
        width: 100%;
    }
    .grid {
        flex-direction: column;
    }
    img.img1 {
        transform: translateY(0px);
        padding-right: 0px;
    }
    img.img2 {
        width: 100%;
    }
    .white {
        padding-bottom:0px; 
        padding-top:0px; 
    }
    .container h1 {
        padding: 25px 0;
        font-size: 3rem;
    }
    .container h1:before {
        width: 31%;
        height: 3px;
        bottom: 10px;
        background: #ff861ec2;
    }
    .about4 .logo a {
        font-size: 1.7rem;
    }
    .copyright p{
        padding: 2rem;
        }
}

@media (max-width:480px){
    .mob-logo h3 {
        font-size: 20px;
    } 
}

@media (max-width:412px){
    html {
        font-size: 57%;
    }
    .intro {
        height: 641px;
    }
    section h2 span {
        left: 0px;
    }
    .intro h2 {
        font-size: 2.2rem;
    }
    
    headnav.sticky {
        position: fixed;
        height: 65px;
    }
}

@media (max-width:376px){
    
}

@media (max-width:361px){

    .greet h1 {
        font-size: 2rem;
    }
    .greet h3 {
        font-size: 4.7rem;
    }
}

@media (max-width:321px){

    .intro {
        height: 559px;
    }
    .intro h2 {
        font-size: 2rem;
    }section h2 span {
        left: 0px;
        letter-spacing: 0rem;
        font-size: 8rem;
    }
    .navigation a {
        font-size: 20px;
    }
    .about4 {
        padding-top: 20px;
    }
}

@media(max-width:281px){
    .navigation a {
        font-size: 19px;
    }
    .intro h2 {
        letter-spacing: 0.5rem;
        line-height: 5rem;
    }
}
