/***********************************************************universal************/
@font-face{
    font-family: Caviar Dreams;
    src: url(../Fonts/CaviarDreams.ttf);
}
@font-face{
    font-family: BlackSingature;
    src: url(../Fonts/BlackSingature.ttf);
}
@font-face{
    font-family: Amarillo;;
    src: url(../Fonts/Amarillo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transform-style: preserve-3d ;
    overflow-y: scroll;
    overflow-x: hidden;  
    font-family: Caviar Dreams;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;   
}
html{
    scroll-behavior:smooth;    
}
/*************************************Scrollbar*********************/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background:rgb(255, 255, 255) ;
    opacity: .1;
}
::-webkit-scrollbar-thumb {
    background:rgb(196, 196, 196); 
    
    transition: 1s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(156, 156, 156); 
    transition: 2s ease-in-out;
}

/******************************************************************/
/**************************Loading************************************/
div#loading {
    position: absolute;
    background: rgb(0, 0, 0);
    z-index: 800000;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    height: 100%;
    animation: 3s ht cubic-bezier(0, 0.02, 0, 1.2);
    animation-delay: 5s;
}
@keyframes ht{
    0%{
        height: 100%;
    }
    100%{
        height: 0%;
    }
}
.greet {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: 14;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    pointer-events: none;
    
}
.greet h1{
    font-size: 50px;
    pointer-events: none;
}

/************************************************************************/
/****************************************Navigation bar**********************************/
header{
    position: absolute;
    left: 0;
    z-index: 1;
    display: flex;
    justify-content:center ;
    width: 100%;
    transition: .1s ease-in;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 45px;
    margin: auto;
    position: absolute;
    height: 82px;
    background-color: #8c625c3b;
    transition: .5s;
    animation: 5s fade ease-out;
}
@keyframes fade{
    0%{
        opacity: 0;
        
        transform: translateY(-150px);
    }
    100%{
        opacity: 1;
        transform: translateY(0);
        
    }
}
.logo a{
    color: rgb(201, 201, 201);
    text-decoration: none;
    font-size: 18px;
    font-family: Amarillo;
    font-weight: bold;
    left: 27px;
    position: relative;
    transition: 0.3s ease-in;
}
.logo a:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: -8px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(202, 202, 202);
    font-size: 15px;
    padding: 15px;
    font-weight: 800;
    padding-bottom: 32px;
    padding-top: 33px;
    margin-left: 2px;
    
    text-transform: uppercase;
    transition: .5s;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0 0 0 / 23%);
    transition: 0.1s ease-in;
}
/**********************************************************************************/

/***********************************************Landing page*********************/
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    /*text-align: center;*/
    background-color: black;
}
section .lekha{
    position: relative;
    color: rgb(218, 218, 218);
    font-size: 10em;
    font-weight: 800;
    z-index: 2;
    line-height: 141px;
    padding: 50px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: BlackSingature;
    animation: 4s up;
}
@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    55%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
section .lekha span {
    font-size: 158px;
    font-family: Caviar Dreams;
    color: #ffffffc7;
    left: -8px;
    font-weight: 100;
    position: relative;
}
section img{
    position: absolute;
    top: 0px;
    left: 0px;
    object-fit: cover;
    width: 100%;
    height: 100%;
    pointer-events: none;
   
    animation: 3s fadein ease-out;
}  
@keyframes fadein{
    0%{
        opacity: 0;
        height: 0%;
       
    }
    100%{
        opacity: 1;
        height: 100%;
        
    }
}

/*************************************************************************************************/
/**********************************Blog page**********************************/
.white{
    background-color: #ffffff;
    position: relative;
    width: 100%;
    overflow: hidden;
   
    padding-bottom: 110px;
    padding-top:35px ;
    
}
img{
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
}
.container{
    width: 70%;
    margin: auto;
    height: auto;
    text-align: left;

}
.container h1 {
    padding: 47px 0;
    font-size: 75.9px;
    font-weight: 800;
    position: relative;
}
.container h1:before {
    position: absolute;
    content: '';
    width: 42%;
    height: 66px;
    left: 0px;
    bottom: 32px;
    border-right: 0;
    z-index: 1;
    border-top: 0;
    background: #00000038;
}
.container p {
    padding: 7px 0;
    font-size: 22px;
    line-height: 36px;
    color: #272727;
}
.box {
    padding: 22px 0;
    
}
.box h2{
    font-size: 30px;
    color: #313131;
    padding-bottom: 5px;
}
.box p{
    font-size: 21px;
    color: #656565;
}
.box span{
    color: #404040;
    font-weight: 800;
}
.c1 {
    display: flex;
    justify-content: center;
}
.img2 {
    width: 44%;
    margin-top: 24px;
    height: 58vh;
    overflow: hidden;
}
img.img2a0 {
    width: 90%;
    object-fit: cover;
    height: 58vh;
    
}
.box.b1 {
    width: 101%;
    padding: 20px 0 ;
}

.img2a {
    width: 70%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    margin: 0px auto ;
}
.img2b {
    width: 70%;
    display: flex;
    overflow: hidden;
    justify-content: center;
    position: relative;
    margin: 0px auto;
}
img.img2a1 {
    width: 51%;
    height: 47vh;
    object-fit: cover;
    
}
img.img2a2 {
    width: 70%;
    object-fit: cover;
    height: 63vh;

}
img.img2a3 {
    width: 50%;
    height: 47vh;
    margin-left: 5px;
    object-fit: cover;

}
img.img2a4 {
    width: 30%;
    object-fit: cover;
    height: 63vh;
    margin-left: 5px;
}
.img3 {
    width: 70%;
    overflow: hidden;
    height: 718px;
    position: relative;
    margin: 0px auto ;
   
}
.img3 img {
    width: 100%;
    height: 94vh;
    object-fit: cover;
}
.img4 {
    width: 70%;
    overflow: hidden;
    position: relative;
    margin: 0px auto 30px auto;
}
.img4a {
    display: flex;
    margin: 5px 0;
}
img.img4a1 {
    width: 38%;
    object-fit: cover;
    height: 87vh;
    margin-right: 5px;
}   
img.img4a2 {
    width: 61%;
    height: 87vh;
    object-fit: cover;
}
img.img4b1 {
    width: 100%;
    object-fit: cover;
}
.img5{
    width: 70%;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
}
img.img5a {
    width: 100%;
    object-fit: cover;
}
img.img5b {
    width: 100%;
    object-fit: cover;
}
.img6 {
    width: 70%;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
    position: relative;
    margin: 0px auto;
}
.img6a {
    display: flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    height: 90vh;
}
img.img6a1 {
    width: 104%;
    object-fit: cover;
    margin-bottom: 5px;
}
img.img6a2 {
    width: 105%;
    transform: translateX(-5px);
    height: 45vh;
    object-fit: cover;
}
.img6b {
    overflow: hidden;
    margin-left: 5px;
}
img.img6a3 {
    width: 149%;
    object-fit: cover;
    transform: translateX(-61px);
    height: 90vh;
}
.img6c {
    width: 70%;
    overflow: hidden;
    height: 91vh;
    position: relative;
    margin: 2px auto 0px auto;
}
img.img6a4 {
    width: 100%;
    object-fit: cover;
    height: 91vh;
}
/***********************************************************************************************/



/********************************************Footer********************************************************/
.about4{
    position: relative;
    width: 100%;
    
    height: 44%;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
    justify-content: center;
    
}

.about4 .brand a {
    color: rgb(165, 165, 165);
    text-decoration: none;
    font-size: 19px;
    font-family: Amarillo;
    font-weight: bold;
    position: relative;
    transition: 0.5s  ease-in;
    line-height: 56px;
}
.about4 .brand a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s  ease-in;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #171717;
    position: relative;
    height: 82px;
    transition: .5s;
}
.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 18px;
    padding: 15px;
    transition: .5s;
}
.nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    transition: 0.1s ease-in;
}
.icon{
    margin: auto;
    position: relative;
    width: 60%;
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 70px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
    
}
.fa-facebook {
    
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in;
}
.fa-facebook:hover{
    color: #686868;
    transition: 0.5s ease-out;
}
.fa-instagram {
   
    color: white;
    transition: 0.5s ease-in;
}
.fa-instagram:hover{
    color: #535353;
    transition: 0.5s ease-out;
}
.copyright p{
    color:rgb(87, 87, 87);
    padding: 20px;
}
/************************************************************************************************/