/***************************************universal*****************************/
@font-face{
    font-family: Caviar Dreams;
    src: url(../Fonts/CaviarDreams.ttf);
}
@font-face{
    font-family: BlackSingature;
    src: url(../Fonts/BlackSingature.ttf);
}
@font-face{
    font-family: Amarillo;;
    src: url(../Fonts/Amarillo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transform-style: preserve-3d ;
    overflow-y: overlay;
    overflow-x: hidden;  
    font-family: Caviar Dreams;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;   
}
html{
    scroll-behavior:smooth;    
}
/***************************SCROLLBAR***************************************/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: transparent ;
}
::-webkit-scrollbar-thumb {
    background:rgb(0, 0, 0); 
    
    transition: 1s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(46, 46, 46); 
    transition: 2s ease-in-out;
}
/***************************************************************************/
/**************************************************************************************/
/************************************LOADINGPAGE**************************************************/
div#loading {
    position: absolute;
    background: rgb(0, 0, 0);
    z-index: 800000;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 46px;
    pointer-events: none;
    height: 100%;
    transition: 0.5s ease-out;
    /*animation: 3s ht cubic-bezier(0, 0.02, 0, 1.2);
    animation-delay: 5s;
}
@keyframes ht{
    0%{
        height: 100%;
    }
    100%{
        height: 0%;
    }*/
}
.overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: 14;
    background: #141414;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    pointer-events: none;
    
}
.overlay h1{
    font-size: 50px;
    pointer-events: none;
}
/****************************************************************/
/************************************Navigation**************************************/
header{
    position: absolute;
    left: 0;
    display: flex;
    justify-content:center ;
    width: 100%;
    transition: .1s ease-in;
    z-index: 1;
}
header.sticky{
    top: 0px;
    transition: .1s ease-in;
}
.navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: auto;
    position: absolute;
    height: 82px;
    padding: 0 32px;
    background-color: #be40063b;
    transition: .5s;
    animation: 7s fade ease-out;
}
@keyframes fade{
    0%{
        opacity: 0;
        transform: translateY(-150px);
    }
    65%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
.logo a{
    color: rgb(216, 216, 216);
    text-decoration: none;
    font-size: 18px;
    font-family: Amarillo;
    font-weight: bold;
    left: 27px;
    position: relative;
    transition: 0.3s ease-in;
}
.logo a:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: -8px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(209, 209, 209);
    font-size: 15px;
    padding: 15px;
    font-weight: 800;
    padding-bottom: 32px;
    padding-top: 33px;
    margin-left: 2px;
    
    text-transform: uppercase;
    transition: .5s;
}
nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(0 0 0 / 23%);
    transition: 0.1s ease-in;
}
/*************************************************************************************/
/*************************************************Landing page******************************************/
section{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    /*text-align: center;*/
    background-color: black;
}
section h2{
    position: relative;
    color: rgb(238 233 223);
    font-size: 68px;
    font-weight: 800;
    z-index: 2;
   
    line-height: 101px;
    
    padding: 50px;
    margin-left: 61px;
    
    font-family: Freeds;
    animation: 4s up ease;
}
@keyframes up{
    0%{
        opacity: 0;
        transform: translateY(-200px);
    }
    55%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
section h2 span{
    font-size: 274px;
    font-family: Samarkan;
    color: #ffffff82;
    height: 28px;
    animation: 5s upd ease-out;
    left: -52px;
    position: relative;
}
@keyframes upd{
    0%{
        opacity: 0;
        transform: translateY(-700px);
    }
    65%{
        opacity: 0;
        transform: translateY(-700px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}


section img{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    object-fit: cover;
    height: 100%;
    pointer-events: none;
   
    animation: 3s fadein ease-out;
}  
@keyframes fadein{
    0%{
        opacity: 0;
       
        height: 0%;
    }
    100%{
        opacity: 1;
        
        height: 100%;
    }
}
/**************************************************************************************/
/********************************************Blog page****************************************************************/
.white{
    background-color: #ffffff;
    position: relative;
    width: 100%;
    overflow: hidden;
    padding-bottom: 76px;
    padding-top:35px ;
}
.container{
    width: 70%;
    margin: auto;
    height: auto;
    text-align: left;

}
.container img{
   
    width: 100%;
    object-fit: cover;
    margin: 40px 0;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;   
}
.container h1 {
    padding: 47px 0;
    font-size: 60.9px;
    position: relative;
    font-weight: 800;
}
.container h1:before {
    position: absolute;
    content: '';
    width: 31%;
    height: 66px;
    left: 0px;
    bottom: 32px;
    border-right: 0;
    z-index: 1;
    border-top: 0;
    background: #00000038;
}
.container h2 {
    padding-bottom: 20px;
    padding-top: 20px;
    font-size: 30px;
    color: #393939;
}
.bold{
    font-weight: bolder;
}
.container p {
    padding: 05px 0;
    font-size: 22px;
    line-height: 36px;
    color: #353535;
}
.sub {
    overflow: hidden;
    padding-bottom: 40px;
    padding-left: 25px;
    
}
.sub p {
    font-size: 21px;
    color: #4b4b4b;
}

.sub span {
    font-weight: 800;
    color: #262626;
   
    font-size: 25px;
}
img.imgbox {
    width: 98%;
    height: 89vh;
    object-fit: cover;
}
.box {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}
img.imgbox3 {
    width: 50%;
    object-fit: cover;
    height: 50vh;
}
img.imgbox4 {
    width: 49%;
    object-fit: cover;
    height: 50vh;
    margin-left: 5px;
}
img.imgbox2 {
    width: 98%;
    object-fit: cover;
    height: 90vh;
}
img.imgbox5 {
    width: 100%;
    object-fit: cover;
    height: 94vh;
}
img.imgbox6 {
    width: 100%;
    object-fit: cover;
    height: 90vh;
}
img.imgbox7 {
    width: 100%;
    object-fit: cover;
    height: 100vh;
}
img.imgbox8 {
    width: 100%;
    object-fit: cover;
    height: 87vh;
}
img.imgbox9 {
    width: 100%;
    object-fit: cover;
    height: 80vh;
}
img.imgbox10 {
    width: 100%;
    object-fit: cover;
    height: 74vh;
}
img.imgbox11 {
    object-fit: cover;
    width: 50%;
    height: 50vh;
    margin-right: 5px;
}
img.imgbox12 {
    width: 50%;
    height: 50vh;
    object-fit: cover;
}
img.imgbox13 {
    width: 100%;
    object-fit: cover;
    height: 90vh;
}
img.imgbox14 {
    width: 100%;
    object-fit: cover;
}
/***********************************************************************************/
/*****************************************Footer*************************************************/
.about4{
    position: relative;
    width: 100%;
    
    height: 44%;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
    justify-content: center;
    
}

.about4 .brand a {
    color: rgb(165, 165, 165);
    text-decoration: none;
    font-size: 19px;
    font-family: Amarillo;
    font-weight: bold;
    position: relative;
    transition: 0.5s  ease-in;
    line-height: 56px;
}
.about4 .brand a:hover{
    color: rgb(255, 255, 255);
    transition: 0.5s  ease-in;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #171717;
    position: relative;
    height: 82px;
    transition: .5s;
}
.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 18px;
    padding: 15px;
    transition: .5s;
}
.nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    transition: 0.1s ease-in;
}
.icon{
    margin: auto;
    position: relative;
    width: 60%;
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 70px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
    
}
.fa-facebook {
    
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in;
}
.fa-facebook:hover{
    color: #686868;
    transition: 0.5s ease-out;
}
.fa-instagram {
   
    color: white;
    transition: 0.5s ease-in;
}
.fa-instagram:hover{
    color: #535353;
    transition: 0.5s ease-out;
}
.copyright p{
    color:rgb(87, 87, 87);
    padding: 20px;
}
/**********************************************************************************/
.errormsg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgb(31, 31, 31);
    padding: 2rem;
    font-size: 3em;
    text-align: center;
    z-index: 10000;
    display: flex;
    flex-direction: column;
    color: white;
    align-items: center;
    justify-content: center;
    line-height: 70px;
    overflow: hidden;
}
.col{
    color: rgb(156, 156, 156);
}
.errormsg p{
    animation: all 0.5s animate ease-in;
}
.errormsg h1 {
    padding: 3rem;
    color: #dc8439;
    font-size: 146px;
    font-family: monospace;
    animation: all 1s animate ease-in;
}
@keyframes animate{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.desktop-off{
    display: none;
    pointer-events: none;
}



@media only screen and (max-width: 1340px) {
    .mobile-on{
        display: flex;
        overflow-y: hidden;
        overflow-x: hidden;
    }
    .about4{
        display: none;
    }
    .testmain{
        display: none;
    }
    .third{
        display: none;
    }
    .Journey{
        display: none;
    }
    .second{
        display: none;
    }
    .landing{
        display: none;
    }
    

}
@media only screen and (max-width: 480px){
    .mobile-on{
        padding: 2rem; 
        line-height: 30px;
        font-size: 1em;
    }
}