/***********************UNIVERSAL***************************************/
@font-face {
  font-family: Caviar Dreams;
  src: url(../Fonts/CaviarDreams.ttf);
}
@font-face {
  font-family: BlackSingature;
  src: url(../Fonts/BlackSingature.ttf);
}
@font-face {
  font-family: Amarillo;
  src: url(../Fonts/Amarillo.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
  font-size: 100%;
}
body {
  transform-style: preserve-3d;
  overflow-y: overlay;
  overflow-x: hidden;
  background: #efefef;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: Caviar Dreams;
}

h1::selection {
  background-color: #79554840;
}
h2::selection {
  background: #e6e6e62e;
}
h3::selection {
  background: #9494942e;
}
p::selection {
  background: #ff98002e;
}
/***************************SCROLLBAR***************************************/
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  background: rgb(20, 20, 20);

  transition: 3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(212, 212, 212);
  transition: 3s ease-in-out;
}
/***************************************************************************/
/**************************************************************************************/

.cylinder {
  width: 100%;
  margin: auto;
}
@media (min-width: 500px) {
  .cylinder {
    max-width: 600px;
  }
}
@media (min-width: 576px) {
  .cylinder {
    max-width: 840px;
  }
}
@media (min-width: 768px) {
  .cylinder {
    max-width: 1050px;
  }
}

@media (min-width: 992px) {
  .cylinder {
    max-width: 1200px;
  }
}

@media (min-width: 1200px) {
  .cylinder {
    max-width: 1538px;
  }
}

/************************************LOADINGPAGE**************************************************/

div#loading {
  position: fixed;
  z-index: 800000;
  width: 100%;
  transition: 0.5s ease-in;
  background: #fefefe;
  height: 100%;
  margin: auto;
  display: flex;
  justify-content: center;
  pointer-events: none;
  align-items: center;
}
.img-container {
  display: flex;
  justify-content: center;
  pointer-events: none;
  align-items: center;
  height: 300px;
  width: 300px;
}

.img-container img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: 0.5s ease-in;
}

.greet {
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0%;
  z-index: 14;
  background: #141414;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(255, 255, 255);
  pointer-events: none;
}
.greet h1 {
  font-size: 3rem;
  pointer-events: none;
}
.greet h3 {
  font-size: 8rem;
  position: absolute;
  color: #2b2b2b;
  pointer-events: none;
  top: 50%;
  z-index: -1;
  transform: translateY(-50%);
}

/************************************Navigation**************************************/
headnav {
  display: none;
}
.navmob {
  display: none;
}

.mob-logo h3 {
  color: white;
  pointer-events: none;
  padding: 0;
  font-size: 24px;
  padding-top: 10px;
  font-family: Amarillo;
  position: relative;
  transition: 0.5s ease-in;
}

#pencet {
  display: flex;
  flex-direction: column;
  width: 58px;
  align-items: center;
  justify-content: center;
  height: 58px;
  cursor: pointer;
}
#pencet span {
  background-color: ghostwhite;
  width: 2em;
  height: 0.2em;
  margin: 0.26em 0;
  display: block;
  transition: all 0.4s ease;
  transform-origin: 0 0;
}
.simple span:nth-child(1) {
  transform: rotate(45deg) translate(1px, -1px);
}

.simple span:nth-child(2) {
  transform: scaleX(0);
}

.simple span:nth-child(3) {
  transform: rotate(-45deg) translate(1px, 0);
}

/****************************************Desktop Nav***************************************/

header {
  position: absolute;
  left: 0;
  z-index: 5;
  display: flex;
  justify-content: center;
  width: 100%;
  transition: 0.1s ease-in;
}
.navbar-top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  margin: auto;
  position: relative;
  height: 100px;
  transition: 0.5s;
  animation: 5s fad ease-out;
}
@keyframes fad {
  0% {
    opacity: 0;
    transform: translateY(150px);
  }
  65% {
    opacity: 0;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.logo-top a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: Amarillo;
  font-weight: bold;
  left: 27px;
  position: relative;
  transition: 0.3s ease-in;
}

.logo-top a:hover {
  color: rgb(255, 255, 255);
  transition: 0.3s ease-in;
}
nav ul li {
  list-style: none;
  display: inline-block;
  margin-right: -8px;
}
nav ul li a {
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 15px;
  padding: 25px;
  font-weight: 800;
  padding-bottom: 32px;
  padding-top: 33px;
  margin-left: 2px;

  text-transform: uppercase;
  transition: 0.5s;
}
nav ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgba(0, 0, 0, 0.445);
  transition: 0.1s ease-in;
}
/**************************************************************************************/
/*******************************1ST LANDING PAGE*******************************************************/
.landing {
  position: relative;
  width: 100%;
  height: 762px;
  overflow: hidden;
}
.landing-intro {
  display: flex;
  height: 100%;
  flex-direction: column;
  padding: 8rem;
  position: relative;
  justify-content: flex-end;
}
.content {
  position: relative;
  display: flex;
  width: 89%;
  flex-direction: column;
}
.content h1 {
  font-size: 3rem;
  color: white;
  padding-bottom: 1rem;
}
.content p {
  font-size: 1.5rem;
  line-height: 2.3rem;
  color: white;
}
.connect-msg {
  padding-top: 7rem;
  width: 55%;
}
.connect-msg p {
  font-size: 1rem;
  line-height: 1.5rem;
  color: white;
}
.connect-msg p span {
  font-weight: 700;
  display: block;
}
.land {
  position: absolute;
  top: 0;
  z-index: -1;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/**************************************************************************************/
/******************************************2ND PAGE********************************************/
.second {
  position: relative;
  height: 100%;
  padding: 87px 129px 90px;
  text-align: left;
  background-color: #efefef;
  z-index: 4;
}
.second:before {
  content: "";
  background: #47474733;
  position: absolute;
  width: 8%;
  top: 94px;
  left: 0;
  height: 40px;
}
.second h3 {
  font-size: 2.5rem;
  padding: 0px 0px 16px 0px;
  color: #000000;
}
.sec {
  font-size: 1.1rem;
  animation: none;
  position: relative;
  padding: 30px 0px;
}
.sec:after {
  content: "";
  width: 20%;
  height: 5px;
  bottom: 0;
  background: #f4dbb7;
  position: absolute;
}
.sec p {
  animation: 0s none;
  line-height: 28px;
  font-weight: 700;
  color: #7b7b7b;
}
/**************************************************************************************/
/********************************3RD PAGE******************************************************/

.Journey {
  display: flex;
  width: 100%;
  align-items: center;
  height: 807px;
  padding: 50px 0px;
  position: relative;
}
.Journey:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #cdcdcd45;
  width: 20%;
  left: 0;
  height: 100%;
}
.Journey h3 {
  color: black;
  padding: 20px 0px;
  font-size: 2.5rem;
}
.Journey p {
  font-size: 1.1rem;
  line-height: 28px;
  color: #878787;
  padding-bottom: 17px;
  font-weight: 700;
  animation: none;
}
.thi {
  padding-top: 13px;
  position: relative;
}
.thi:after {
  content: "";
  width: 42%;
  height: 5px;
  bottom: -17px;
  background: #f4dbb7;
  position: absolute;
}
.boxflex {
  width: 50%;
  padding: 129px;
  padding-right: 69px;
  padding-top: 50px;
  padding-bottom: 50px;
}
.boxflex:after {
  content: "";
  width: 25%;
  height: 7%;
  background: #f4dbb7;
  z-index: -1;
  bottom: 23px;
  left: 0;
  position: absolute;
}
.Bnw {
  width: 50%;
  overflow: hidden;
  position: relative;
}

.Bnw img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  pointer-events: none;
}
/**************************************************************************************/
/**********************************4TH PAGE****************************************************/
.third {
  position: relative;
  height: 100%;
  padding: 79px;
  padding-top: 87px;
  text-align: center;
  background-color: #efefef;
  z-index: 6;
}
.contact {
  animation: none;
  padding-bottom: 30px;
  font-size: 4rem;
}
#error {
  max-width: 590px;
  margin: auto;
  background-color: #d10000;
  color: rgb(255, 255, 255);
  text-align: center;
  font-size: 20px;
  margin-bottom: -39px;
  transition: all 0.5s ease;
}
form {
  max-width: 612px;
  padding: 10px;
  margin: 50px auto;
}
.uppercase {
  padding-bottom: 1rem;
  font-size: 1.2rem;
  font-weight: 700;
  display: block;
  text-align: left;
}

.feedback-input {
  color: rgba(32, 32, 32, 0.616);
  font-size: 18px;
  font-family: Caviar Dreams;
  line-height: 22px;
  border: 0px;
  background: #ffffff;
  transition: all 0.3s;
  padding: 13px;
  margin-bottom: 15px;
  width: 100%;
  box-sizing: border-box;
  outline: 0;
}

.feedback-input:focus {
  background-color: rgba(255, 255, 255, 0.61);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize: vertical;
  font-family: Caviar Dreams;
}

[type="submit"] {
  width: 100%;
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #1d1d1d;
  font-size: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: all 0.3s;
  margin-top: 22px;
  font-weight: 700;
}
[type="submit"]:hover {
  background: #5f5f5f;
  color: #efefef;
}

/**************************************************************************************/
/*************************************5TH PAGE*************************************************/
.testimony {
  display: flex;
  position: relative;
  overflow: hidden;
  height: 1142px;
}

.main {
  width: 100%;
  position: absolute;
  border: 60px solid #efefef;
}
img {
  width: 100%;
}
.content-right {
  width: 50%;
  position: relative;
  padding: 8rem;
}
.content-right h1 {
  color: black;
  padding: 20px 0px;
  font-size: 2.5rem;
}
.content-right p {
  font-size: 1.1rem;
  line-height: 28px;
  color: #323232;
  padding-bottom: 17px;
  font-weight: 700;
  animation: none;
}
.follow {
  padding: 2rem 0;
  position: relative;
}
.follow h2 {
  color: black;
  font-size: 2rem;
  padding-bottom: 1rem;
}
.box {
  width: 80%;
  display: flex;
  margin-bottom: 4px;
  position: relative;
  justify-content: space-between;
  padding: 1rem 0;
  flex-direction: column;
}
.box p {
  font-weight: 700;
  font-size: 1.2rem;
  padding-bottom: 0;
}

.sm-menu {
  background: #ffffff;
  text-align: center;
  width: 100px;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 8px;
  display: flex;
  transition: 0.3s;
}
.sm-menu a {
  font-size: 1.3rem;
  color: black;
}
.sm-menu::before {
  content: "";
  width: 10px;
  height: 10px;
  background: #ffffff;
  position: absolute;
  top: 50%;
  left: -5px;
  transform: translateY(-50%) rotate(45deg);
}

/**************************************************************************************/
/*****************************************Footer*************************************************/

.footer {
  width: 100%;
  height: auto;
  background-color: #161616;
  z-index: 3;
}
.about4 {
  position: relative;
  width: 100%;
  padding-top: 54px;
  height: auto;
  background-color: #161616;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-top: auto;
}

.about4 .logo a {
  text-decoration: none;
  color: #a5a5a5;
  font-size: 1.8rem;
  font-family: Amarillo;
  font-weight: bold;
  position: relative;
  transition: 0.3s ease-in;
  cursor: default;
}
.about4 .logo a:hover {
  color: rgb(255, 255, 255);
  transition: 0.5s ease-in;
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  position: relative;
  padding: 40px;
  height: 82px;
  margin-bottom: 20px;
  transition: 0.5s;
}
.navbar ul li {
  list-style: none;
  display: inline-block;
}
.navbar ul li a {
  text-decoration: none;
  color: rgb(179, 179, 179);
  font-size: 18px;
  padding: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
}
.navbar ul li a:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(29, 29, 29);
  transition: 0.1s ease-in;
}

.copyright p {
  color: rgb(87, 87, 87);
  padding: 1rem;
}

/****************************************Media*************************/

@media (max-width: 1330px) {
  html {
    font-size: 92%;
  }
}
@media (max-width: 1220px) {
  html {
    font-size: 90%;
  }
  .land {
    height: 100%;
  }
  .connect-msg {
    padding-top: 12rem;
    width: 100%;
  }
  .content-right {
    width: 70%;
  }

  .connect-msg p {
    line-height: 2rem;
  }
  .about4 .logo a {
    font-size: 2.3rem;
  }
}

@media (max-width: 1150px) {
  nav ul li a {
    font-size: 14px;
    padding: 18px;
  }
  .second {
    padding: 87px 129px 0px;
  }
  .testimony {
    height: 865px;
  }
  .boxflex:after {
    content: none;
  }
  .Journey:before {
    height: 80%;
  }
  .Journey {
    flex-direction: column;
    height: auto;
  }
  .Bnw {
    width: 100%;
    border: 60px solid #e5e5e5;
  }
  .boxflex {
    width: 100%;
    padding-right: 129px;
  }
}

@media (max-width: 1050px) {
  html {
    font-size: 80%;
  }

  .box {
    width: 100%;
  }
}

@media (max-width: 940px) {
  .second,
  .boxflex {
    padding-left: 5rem;
    padding-right: 4rem;
  }
  .Bnw {
    border: 2rem solid #e5e5e5;
  }
  .Journey {
    padding-bottom: 0;
  }
  .main {
    border: 2rem solid #efefef;
  }
  .testimony {
    height: 711px;
  }
  .content-right {
    width: 66%;
    padding-left: 5rem;
  }
  .third {
    padding: 2rem;
    padding-top: 87px;
  }
  /*mob nav*/
  html {
    font-size: 74%;
  }
  header {
    display: none;
  }

  .landing-intro {
    padding-left: 5rem;
    justify-content: center;
  }
  .connect-msg {
    padding-top: 5rem;
    width: 100%;
  }
  .about4 .logo a {
    font-size: 2.5rem;
  }
  .copyright p {
    padding: 1.5rem;
    font-size: 1.4rem;
  }

  /**************************mob nav***********/
  headnav {
    position: fixed;
    height: 80px;
    width: 100%;
    padding: 0 23px;
    display: flex;
    z-index: 16;
    margin: auto;
    align-items: center;
    overflow: hidden;
    justify-content: space-between;
    transition: 0.5s ease-out;
    animation: uptop 3.5s ease-out;
  }
  @keyframes uptop {
    0% {
      opacity: 0;
      transform: translateY(-100px);
    }
    70% {
      opacity: 0;
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
  }
  headnav.sticky {
    background-color: rgb(31, 31, 31);
    transition: 0.5s ease-in;
  }
  .navigation {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
    justify-content: center;
    z-index: 15;
    padding: 30px;
    width: 100%;
    height: 537px;
    background: #1f1f1f;
    transform: translateY(-100%);
    transition: 0.5s cubic-bezier(1, 0.01, 0, 1.01);
  }
  .navigation:after {
    position: absolute;
    content: "";
    width: 4%;
    height: 1px;
    background: #ff8100;
    bottom: 9px;
  }
  .navigation a {
    text-decoration: none;
    padding: 15px;
    font-size: 26px;
    color: white;
    font-weight: 700;
    text-align: center;
  }
  .navigation.Diam {
    transform: translateY(0%);
    transition: 0.5s cubic-bezier(1, 0.01, 0, 1.01);
    border-radius: 0px;
    height: 528px;
  }
  /**************************nav********************/
  /*******************footer*/
  .navbar {
    display: none;
  }
}

@media (max-width: 864px) {
  .greet h3 {
    font-size: 5.7rem;
  }
  .testimony {
    height: 561px;
  }
}

@media (max-width: 768px) {
  section .text {
    justify-content: center;
    align-items: center;
  }

  .box {
    width: 100%;
    flex-direction: column;
  }
  .p2 {
    flex-direction: column-reverse;
  }
  .content {
    width: 100%;
    background: #ff000000;
  }
  .content p {
    font-size: 1.5rem;
    line-height: 2.3rem;
  }
  .imgb {
    width: 100%;
    border: 5px solid #ffffff;
    box-shadow: none;
  }
}
@media (max-width: 655px) {
  form {
    max-width: 612px;
    padding: 0px;
  }
}

@media (max-width: 600px) {
  .sec p,
  .Journey p,
  .content-right p {
    line-height: 25px;
    font-size: 1.3rem;
    color: #878787;
  }

  section h2 {
    font-size: 2rem;
  }
  .testimony {
    height: auto;
    flex-direction: column-reverse;
    padding-bottom: 2rem;
  }
  .main {
    width: 100%;
    position: relative;
  }
  .content-right {
    padding: 0rem;
    width: 100%;
    padding-left: 5rem;
  }
  section h3 {
    font-size: 10rem;
  }
  .about4 .logo a {
    font-size: 1.7rem;
  }
  .copyright p {
    padding: 2rem;
  }
}

@media (max-width: 510px) {
  .second,
  .boxflex {
    padding: 2rem;
  }
  .landing {
    height: 100vh;
  }
  .landing-intro {
    padding-left: 2rem;
  }
  .second {
    padding-top: 95px;
  }
  .Journey {
    padding: 0;
  }
  .mob-logo h3 {
    font-size: 20px;
  }
  a.btn {
    width: 14rem;
  }
  .Bnw {
    border: 0;
  }
  .main {
    border: 0;
  }
  .content-right {
    padding: 2rem;
    width: 100%;
  }
}

@media (max-width: 412px) {
  html {
    font-size: 57%;
  }
  .intro {
    height: 641px;
  }
  section h2 span {
    left: 0px;
  }
  .intro h2 {
    font-size: 2.2rem;
  }

  headnav.sticky {
    position: fixed;
    height: 65px;
  }
}

@media (max-width: 376px) {
  @media (max-width: 361px) {
    .greet h1 {
      font-size: 2rem;
    }
    .greet h3 {
      font-size: 4.7rem;
    }
  }
  @media (max-width: 321px) {
    section .text {
      height: 615px;
    }
    .navigation a {
      font-size: 20px;
    }
    .about4 {
      padding-top: 20px;
    }
  }

  @media (max-width: 281px) {
    .navigation a {
      font-size: 19px;
    }
  }
}
