
/***********************UNIVERSAL***************************************/
@font-face{
    font-family: Caviar Dreams;
    src: url(../Fonts/CaviarDreams.ttf);
}
@font-face{
    font-family: BlackSingature;
    src: url(../Fonts/BlackSingature.ttf);
}
@font-face{
    font-family: Amarillo;;
    src: url(../Fonts/Amarillo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior:smooth;    
}
body{
    transform-style: preserve-3d;
    overflow-y:overlay;
    overflow-x: hidden;
    background: #efefef;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;   
    font-family: Caviar Dreams;
}
/***************************SCROLLBAR***************************************/
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background:transparent ;
}
::-webkit-scrollbar-thumb {
    background:rgb(255, 255, 255); 
    
    transition: 3s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(212, 212, 212); 
    transition: 3s ease-in-out;
}
/***************************************************************************/
/**************************************************************************************/
/************************************LOADINGPAGE**************************************************/
.loader {
    position: fixed;
    background: #ffffff;
    z-index: 80000;
    display: flex;
    width: 100%;
    top: 0;
    color: white;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    opacity: 1;
   
    height: 100vh;
    transition: 0.5s ease;
}
.greet {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0%;
    z-index: 14;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(0, 0, 0);
    pointer-events: none;
    
  }
  .greet h1{
    font-size: 50px;
    pointer-events: none;
  }
  .greet h3 {
    font-size: 131px;
    position: absolute;
    color: #acacac;
    top: 300px;
    font-weight: 700;
    pointer-events: none;
    z-index: -1;
    text-transform: uppercase;
  }
  
  
  
  
/**************************************************************************************/
/*************************************NAVIGATION BAR*************************************************/
header{
    position: absolute;
    left: 0;
    z-index: 2;
    display: flex;
    justify-content:center ;
    width: 100%;
    transition: .1s;
}
.navbar{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 32px;
    top: 20px;
    margin: auto;
    background-color: #ffffff00;
    position: absolute;
    height: 82px;
    padding-right: 53px;
    transition: .5s;
    animation: 6s fade cubic-bezier(0.03, 0.04, 0, 0.99);
}
@keyframes fade{
    0%{
        opacity: 0;
    }
    35%{
        opacity: 0;
        transform: translateY(-100px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}
.logo a{
    color: rgb(236, 236, 236);
    text-decoration: none;
    font-size: 18px;
    font-family: Amarillo;
    font-weight: bold;
    left: 27px;
    position: relative;
    transition: 0.3s ease-in;
}

.logo a:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
}
nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: -8px;
}
nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 15px;
    font-weight: 800;
    padding-bottom: 32px;
    padding-top: 33px;
    margin-left: 2px;
   
    text-transform: uppercase;
    transition: .5s;
}
nav ul li a:hover{
    color: rgb(0, 0, 0);
    background-color: rgb(239 239 239);
    transition: 0.1s ease-in;
}
/**************************************************************************************/
/*******************************1ST LANDING PAGE*******************************************************/
.landing{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    display: flex;
    border: 20px solid #efefef;
}

.content {
    position: absolute;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100VH;
    padding: 100px;
    z-index: 1;
    width: 100%;
}

.content:before {                                                      
    content: none;
    width: 7%;
    height: 49px;
    position: absolute;
    left: 0;
    top: 228px;
    background: linear-gradient(45deg, #efefef, #efefef);
    animation: 5s face cubic-bezier(0.35, 0, 0.81, 1);
}
@keyframes face{
    0%{
        width: 0%;
        opacity: 0;
    }
    65%{
        width: 0%;
        opacity: 0;
    }
    100%{
        width: 7%;
        opacity: 1;
    }
}
.content:after {
    content: '';
    width: 1px;
    height: 67%;
    position: absolute;
    right: 40px;
    bottom: 0;
    background: linear-gradient(0deg, #ffffff, #ffffff00);
    animation: 5s face2 cubic-bezier(0.35, 0, 0.81, 1);
}
@keyframes face2{
    0%{
        height: 0%;
        opacity: 0;
    }
    65%{
        height: 0%;
        opacity: 0;
    }
    100%{
        height: 67%;
        opacity: 1;
    }
}

.para {                             
    display: flex;
    margin-top: 100px;
    color: #ffffff;
    width: 50%;
    transform: translateY(-25px);
    opacity: 0;
    padding: 20px;
    font-size: 50px;
}
.para2 {                        
    color: #b7b7b7;
    font-size: 20px;
    line-height: 30px;
    width: 76%;
    font-weight: bold;
    transform: translateY(22px);
    opacity: 0;
    padding: 0 20px;
    text-align: left;
    margin: 0 ;
}
.land {
    position: absolute;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
    height: 115vh;
}
.connect {
    position: absolute;
    z-index: 12;
    display: flex;
    justify-content: center;
    overflow: hidden;
    bottom: 0;
    padding: 23px 30px 23px 23px;
    height: 17%;
    width: 48%;
}

.connect-img {
    overflow: hidden;
    display: inline-block;
    height: 70px;
    width: 142px;
    border-radius: 50%;
}
img.btn-img {
    width: 70px;
    height: 70px;
    opacity: 0;
    object-fit: cover;
    border-radius: 50%;
    transition: 0.7s ease-in-out;
}
img.btn-img:hover{
    transform: scale(1.2);
    transition: 0.7s ease-in-out;
}

.connect-msgline {                        /*part2*/
    position: relative;
    color: white;
    font-size: 14px;
    font-weight: bold;
}
.connect-msgline:after {
    content: '';
    position: absolute;
    background:#c6802a;
    width: 32%;
    left: 24px;
    opacity: 1;
    bottom: 8px;
    height: 1px;
    animation: 5s face3 cubic-bezier(0.35, 0, 0.81, 1);
}
@keyframes face3{
    0%{
        width: 0%;
        
    }
    65%{
        width: 0%;
        
    }
    100%{
        width: 32%;
        
    }
}
.connect-msg {
    padding-bottom: 10px;
    padding: 0 6px 0px 24px;
    color: white;
    font-size: 14px;
    font-weight: bold;
    opacity: 0;
}
.connect-msg span {
    font-size: 12px;
    font-weight: 100;
    color: #b3b3b3;
}

/******************/
.scroll-downs {
    position: absolute;
    right: 72px;
    bottom: 33px;
    margin: auto;
    z-index: 50;
    width: 34px;
    height: 55px;
}
  .mousey {
    width: 3px;
    padding: 10px 15px;
    height: 35px;
    border: 2px solid #fff;
    border-radius: 25px;
    opacity: 1;
    box-sizing: content-box;
    animation: 5s upside ease-out;
  }
  @keyframes upside{
      0%{
          opacity: 0;
          transform: translateY(400px);
      }
      50%{
          opacity: 0;
      }
      100%{
          opacity: 1;
          transform: translateY(0px);
      }
  }
  .scroller {
    width: 3px;
    height: 10px;
    border-radius: 25%;
    background-color: #fff;
    animation-name: scroll;
    animation-duration: 2.2s;
    animation-timing-function: cubic-bezier(.15,.41,.69,.94);
    animation-iteration-count: infinite;
  }
  @keyframes scroll {
    0% { opacity: 0; }
    10% { transform: translateY(0); opacity: 1; }
    100% { transform: translateY(15px); opacity: 0;}
  }
/**************************************************************************************/
/******************************************2ND PAGE********************************************/
.second {
    position: relative;
    height: 100%;
    padding: 87px 129px 90px;
    text-align: left;
    background-color: #efefef;
    z-index: 4;
}
.second:before {
    content: '';
    background: #47474733;
    position: absolute;
    width: 8%;
    top: 94px;
    left: 0;
    height: 40px;
}
.second:after {
    content: 'travel';
    position: absolute;
    font-size: 157px;
    right: 0;
    z-index: -1;
    top: 28px;
    color: transparent;
    -webkit-text-stroke: 2px #dddddd;
}
.second h3{
    font-size: 40px;
    padding: 0px 0px 16px 0px;
    color: #000000;
}
.sec {
    font-size: 18px;
    animation: none;
    
    padding: 30px 0px;
}
.sec:after {
    content: '';
    width: 20%;
    height: 5px;
    bottom: 64px;
    background: #f4dbb7;
    position: absolute;
}
.sec p {
    animation: 0s none;
    line-height: 28px;
    font-weight: 700;
    color: #7b7b7b;
}
/**************************************************************************************/
/********************************3RD PAGE******************************************************/

.Journey {
    display: flex;
    width: 100%;
    height: 90vh;
    padding: 50px 0px;
    position: relative;
}
.Journey:after {
    content: '';
    right: 0;
    position: absolute;
    z-index: -1;
    background: #cdcdcd85;
    width: 25%;
    height: 100%;
}
.Journey:before {
    content: '';
    position: absolute;
    z-index: -1;
    background: #cdcdcd45;
    width: 20%;
    height: 100%;
}
.Journey h3 {
    display: inline-block;
    color: black;
    padding: 20px 0px;
    font-size: 40px;
}
.Journey p {
    font-size: 18px;
    line-height: 28px;
    color: #878787;
    padding-bottom: 17px;
    font-weight: 700;
    animation: none;
}
.thi {
    padding-top: 13px;
}
.boxflex {
    width: 50%;
    padding: 129px;
    padding-right: 69px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.boxflex:after {
    content: '';
    width: 25%;
    height: 7%;
    background: #f4dbb7;
    z-index: -1;
    bottom: 23px;
    left: 0;
    position: absolute;
}
.Bnw {
    width: 50%;
    height: 64vh;
    margin-top: 80px;
    overflow: hidden;
}
.Bnw:before {
    content: '';
    width: 26%;
    height: 26%;
    top: 104px;
    right: 386px;
    position: absolute;
    border: 3px solid #dddddd;
    background: transparent;
}
.Bnw:after {
    content: 'Journey';
    color: transparent;
    font-size: 157px;
    right: 0;
    -webkit-text-stroke: 2px #c8c8c8;
    position: absolute;
 
    bottom: 0;
  
}
.Bnw img {
    width: 103%;
    height: 128%;
    margin-top: 94px;
    object-fit: cover;
    transform: scale(1.05) translateX(-42px);
    pointer-events: none;
}
/**************************************************************************************/
/**********************************4TH PAGE****************************************************/
.third{
    position: relative;
    height: 100%;
    padding: 79px;
    padding-top: 87px;
    text-align: center;
    background-color: #efefef;
    z-index: 6;
}
.third:before {
    z-index: -1;
    left: 70px;
    top: 0;
    content: 'Contact';
    font-size: 171px;
    color: #edb41414;
    -webkit-text-stroke: 2px gainsboro;
    position: absolute;
}
.third::after {
    content: 'Us';
    position: absolute;
    right: 62px;
    bottom: 0;
    font-size: 377px;
    z-index: -1;
    color: #edb41414;
    -webkit-text-stroke: 2px gainsboro;
}
.container {
    padding-top: 75px;
}
.contact{
    animation: none;
    padding-bottom: 30px;
    font-size: 37px;
    display: none;
}
#error{
    width: 43%;
    margin: auto;
    background-color: #d10000;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 20px;
    margin-bottom: -39px;
    transition: all 0.5s ease;
}
form { 
    max-width: 612px;
    padding: 10px;
    border: 1px solid white;
    margin: 50px auto;
}
form#myform:before {
    content: '';
    position: absolute;
    width: 23%;
    height: 27%;
    background: transparent;
    right: 416px;
    z-index: -1;
    top: 138px;
    border: 2px solid #dfdfdf;
}
form#myform:after {
    content: '';
    position: absolute;
    width: 23%;
    height: 27%;
    background: transparent;
    left: 402px;
    z-index: -1;
    bottom: 224px;
    border: 2px solid #dfdfdf;
}
.feedback-input {
    color: rgba(32, 32, 32, 0.616);
    font-weight: 500;
    font-size: 18px;
    font-family: Caviar Dreams;
    font-weight: 700;
    line-height: 22px;
    background-color: #cdcdcd;
    border: 2px solid  #cdcdcd;
    transition: all 0.3s;
    padding: 13px;
   
    margin-bottom: 15px;
    width: 100%;
    
    box-sizing: border-box;
    outline: 0;
}
.feedback-input:hover{
    border-bottom:2px solid #1b1b1b; 
    background-color: #b1b1b1;
}
.feedback-input:focus 
{ 
    border:2px solid #242424; 
    color: rgb(32, 32, 32);
}

textarea {
  height: 150px;
  line-height: 150%;
  resize:vertical;
  font-family: Caviar Dreams;
}

[type="submit"] {

  width: 100%;
 
  border-radius: 5px;
  border: 0;
  cursor: pointer;
  color: #1d1d1d;
  font-size: 24px;
  padding-top: 18px;
  padding-bottom: 18px;
  transition: all 0.3s;
  margin-top: 22px;
  font-weight: 700;
}
[type="submit"]:hover 
{
    background: #5f5f5f;
     color: #efefef;
}

/**************************************************************************************/
/*************************************5TH PAGE*************************************************/
.testmain{
    padding-bottom: 150px;
}
.testimony {
    display: flex;
    position: relative;
    padding-top: 83px;
    overflow: hidden;
    padding-bottom: 100px;
    background-color: #efefef;
}
.testimony:before {
    content: '';
    width: 20%;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #a2d2ce;
}
.testimony:after {
    content: '';
    width: 20%;
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    background: #dddddd;
}
.blurp {
    width: 54%;
    display: flex;
    padding: 40px;
    padding-top: 0px;
    padding-bottom: 4px;
    padding-right: 0;
    z-index: 1;
}

.blurp:after {
    content: 'Connect with us online';
    position: absolute;
    bottom: 65px;
    right: 0;
    color: #cecece40;
    font-family: none;
    font-size: 80px;
    -webkit-text-stroke: 2px #3030304a;
    font-weight: 700;
}
.im2 {
    width: 46%;
    height: 75%;
    overflow: hidden;
    z-index: 1;
}
.im2 img {
    width: 100%;
    height: 85vh;
    object-fit: cover;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;   
    transition: 0.5s ease-in;
}
.im2 img:hover{
    transform: scale(1.1) translateX(-25px);
    transition: 0.5s ease-out;
}
.text {
    width: 50%;
    display: flex;
    padding: 37px;
    background: #f2dfc3a3;
    border: 3px solid #e3e3e3;
    flex-direction: column;
    justify-content: center;
}
.text:before {
    position: absolute;
    top: 30px;
    left: 0;
    color: #cecece40;
    font-family: none;
    font-size: 80px;
    -webkit-text-stroke: 2px #3030304a;
    font-weight: 700;
    content: 'Storyteller & Photographer';
}
.text h1 {
    padding-bottom: 15px;
    font-size: 40px;
}
.text p {
    font-size: 18px;
    line-height: 25px;
    color: #8d8d8d;
    font-weight: 700;
}
.text p:after {
    content: '';
    position: absolute;
    width: 7%;
    height: 5px;
    background: #f0f3f7;
    bottom: 252px;
    left: 51%;
}
.im {
    width: 66%;
    display: flex;
    flex-direction: column;
    padding: 37px;
    justify-content: center;
    overflow: hidden;
    background: #f7f7f7;
}
.im img {
    width: 100%;
    object-fit: cover;
    height: 64%;
    border-radius: 50%;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;   
    transition: 0.5s ease-in;
}
.im img:hover{
    transition: 0.5s ease-in-out;
    filter: grayscale(1.5);
}

.pack {
    width: 50%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    border: 1px solid white;
    background: #a2d2ce;
    align-items: center;
}
.link {
    display: flex;
    justify-content: center;
    
}
.box {
    
    width: 50%;
    margin: 10px;
}
.box p {
    animation: none;
    text-align: center;   
    padding-top: 20px;
    padding-bottom: 20px;      
    font-size: 23px;
    font-weight: 700;
    color: #757575;
}
.fa.falink {
    
    
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
    padding-right: 30px;
    
}
.fa-instagram.falink {
    
    color: rgb(204, 139, 0);
    font-size: 29px;
    padding-right: 41px;
    transition: 0.5s ease;
}
.fa-facebook.falink {
    color: rgb(204, 139, 0);
    font-size: 29px;
    transition: 0.5s ease;
}
.fa-facebook.falink:hover {
    color: black;
    font-size: 29px;
   
    transition: 0.5s ease;
}
.fa-instagram.falink:hover {
    
    color: black;
    font-size: 29px;
   
    transition: 0.5s ease;
}
hr {
    background-color: #fff;
    padding: 0;
    margin: 80px;
  }
  hr.hr-4 {
    padding: 0;
    border: none;
    border-top: medium double #8c8c8c;
    color: #8c8c8c;
    text-align: center;
  }
/**************************************************************************************/
/**************************************FOOTER************************************************/
.about4{
    position: relative;
    width: 100%;
    
    height: 44%;
    background-color: #171717;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 34px;
    justify-content: center;
    
}

.about4 .brand a {
    color: rgb(165, 165, 165);
    text-decoration: none;
    font-size: 19px;
    font-family: Amarillo;
    font-weight: bold;
    position: relative;
    transition: 0.5s  ease-in;
    line-height: 56px;
}
.nav {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: 14px;
    margin-bottom: 14px;
    background-color: #171717;
    position: relative;
    height: 82px;
    transition: .5s;
}
.nav ul li{
    list-style: none;
    display: inline-block;
}
.nav ul li a{
    text-decoration: none;
    color: rgb(179, 179, 179);
    font-size: 18px;
    padding: 15px;
    transition: .5s;
}
.nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgb(29, 29, 29);
    transition: 0.1s ease-in;
}
.icon{
    margin: auto;
    position: relative;
    width: 60%;
    background: #232323;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.fa {
    padding: 20px;
    font-size: 70px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%;
    
    
}
.fa-facebook {
    
    color: rgb(255, 255, 255);
    transition: 0.5s ease-in;
}
.fa-facebook:hover{
    color: #686868;
    transition: 0.5s ease-out;
}
.fa-instagram {
   
    color: white;
    transition: 0.5s ease-in;
}
.fa-instagram:hover{
    color: #535353;
    transition: 0.5s ease-out;
}
.copyright p{
    color:rgb(87, 87, 87);
    padding: 20px;
    animation: none;
}
/********************************************************************************/