@font-face{
    font-family: Caviar Dreams;
    src: url(../Fonts/CaviarDreams.ttf);
}
@font-face{
    font-family: BlackSingature;
    src: url(../Fonts/BlackSingature.ttf);
}
@font-face{
    font-family: Amarillo;;
    src: url(../Fonts/Amarillo.ttf);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    transform-style: preserve-3d ;
    overflow-y: overlay;
    overflow-x: hidden;  
    background-color: black;
    font-family: Caviar Dreams;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
html{
    scroll-behavior:smooth;    
    font-size: 100%;
}


h1::selection{
    background-color: #79554840;
}
h2::selection{
    background: #e6e6e62e;
}
h3::selection{
    background: #9494942e;
}
p::selection{
    background: #ff98002e;
}

::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background:transparent ;
    
}
::-webkit-scrollbar-thumb {
    background:rgb(20, 20, 20); 
    
    transition: 1s ease-in-out;
}
::-webkit-scrollbar-thumb:hover {
    background: rgb(58, 58, 58); 
    transition: 2s ease-in-out;
}


.cylinder{
    width: 100%;
    margin: auto;
}
@media (min-width:500px){
    .cylinder{
        max-width:600px;
    }
}
@media (min-width:576px){
    .cylinder{
        max-width:840px;
    }
}
@media (min-width: 768px) {
    .cylinder{
        max-width: 1050px;
    }
  }
  
  @media (min-width: 992px) {
    .cylinder{
      max-width: 1200px;
    }
  }
  
  @media (min-width: 1200px) {
    .cylinder{
        max-width: 1538px;
    }
  }

/********************************************Load animation**************************************/

div#loading {
    position: fixed;
    z-index: 800000;
    width: 100%;
    transition: 0.5s ease-in;
    background: #fefefe;
   height: 100%;
   margin: auto;
   display: flex;
   justify-content: center;
   pointer-events: none;
   align-items: center;
}
.img-container{
    display: flex;
    justify-content: center;
    pointer-events: none;
    align-items: center;
    height: 300px;
    width: 300px;
}

.img-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
    transition: 0.5s ease-in;
    
}

.greet {
    width: 100%;
    height: auto;
    position: fixed;
    background: #141414;
    margin: auto;
    height: 100%;
    left: 0%;
    top: 0;
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    pointer-events: none;
    
  }
  .greet h1{
    font-size: 3rem;
    pointer-events: none;
  }
  .greet h3 {
    font-size: 8rem;
    position: absolute;
    color: #2b2b2b;
    pointer-events: none;
    top: 50%;
    z-index: -1;
    transform: translateY(-50%);
}

/************************************Navigation**************************************/
headnav{
    display: none;
}
.navmob{
    display: none;
}

.mob-logo h3{
    color: white;
    pointer-events: none;
    padding: 0;
    font-size: 24px;
    padding-top: 10px;
    font-family: Amarillo;
    position: relative;
    transition: 0.5s ease-in;
}

#pencet {
    display: flex;
    flex-direction: column;
    width: 58px;
    align-items: center;
    justify-content: center;
    height: 58px;
    cursor: pointer;
}
  #pencet span{
    background-color:ghostwhite;
    width:2em;
    height:.2em;
    margin:0.26em 0;
    display:block;
    transition: all .4s ease;
    transform-origin:0 0;
  }
  .simple span:nth-child(1) {
    transform: rotate(45deg) translate(1px, -1px);
  }
  
  .simple span:nth-child(2) {
    Transform: scaleX(0);
  }
  
  .simple span:nth-child(3) {
    transform: rotate(-45deg) translate(1px, 0);
  }
  
/****************************************Desktop Nav***************************************/

header{
    position: absolute;
    left: 0;
    z-index: 5;
    display: flex;
    justify-content:center ;
    width: 100%;
    transition: .1s ease-in;
  }
  .navbar-top {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    margin: auto;
    position: relative;
    height: 100px;
    transition: .5s;
    animation: 5s fad ease-out;
  }
  @keyframes fad{
    0%{
        opacity: 0;
        transform: translateY(150px);
    }
    65%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
  }
  .logo-top a{
    color:white;
    text-decoration: none;
    font-size: 18px;
    font-family: Amarillo;
    font-weight: bold;
    left: 27px;
    position: relative;
    transition: 0.3s ease-in;
  }
  
  .logo-top a:hover{
    color: rgb(255, 255, 255);
    transition: 0.3s ease-in;
  }
  nav ul li{
    list-style: none;
    display: inline-block;
    margin-right: -8px;
  }
  nav ul li a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 15px;
    padding: 25px;
    font-weight: 800;
    padding-bottom: 32px;
    padding-top: 33px;
    margin-left: 2px;
   
    text-transform: uppercase;
    transition: .5s;
  }
  nav ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: rgba(0, 0, 0, 0.445);
    transition: 0.1s ease-in;
  }

/***********************************************************Landingpage********************************/
section{
    position: relative;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

section .text {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: flex-end;
    text-align: left;
}
section .text {
    position: relative;
    width: 100%;
    height: 768px;
    padding: 2rem;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    align-items: end;
}
section h2 {
    position: relative;
    color: rgb(255 255 255);
    font-size: 3rem;
    line-height: 0rem;
    padding: 0 1rem;
    animation: 3s ecale ease-out;
}
@keyframes ecale{
    0%{
        opacity: 0;
        transform: translateY(-300px);
    }
    65%{
        opacity: 0;
    }
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}
section h3 {
    position: relative;
    font-size: 10rem;
    font-weight: 100;
    color: #ffffff;
    position: relative;
    animation: 5s ecale;
}

section img {
    position: fixed;
   
    height: 100%;
    z-index: -1;
    object-fit: cover;
    width: 100%;
    pointer-events: none;
    animation: 3s fade cubic-bezier(0, 0.02, 0, 1.2);
}

@keyframes fade{
    0%{
        opacity: 0; 
      
      
        height: 0%;
        transform: translateY(-100px) ;
    }
    100%{
        opacity: 1;
    
        transform: translateY(0px) ;
        height: 100%;
    }
}
/**************************************************Blog page*************************************/

.body{
    width: 100%;
    background-color: white;
}
.sec {
    width: 100%;
    padding: 3rem;
    overflow: auto;
    padding-top: 6rem;
    position: relative;
    padding-bottom: 6rem;
    display: flex;
    background: #ffffff;
    flex-direction: column;
}
.sec:before {
    content: '';
    position: absolute;
    width: 18%;
    left: 40px;
    top: 0;
    height: 68%;
    background: #8d939133;
}
.sec:after {
    content: '';
    position: absolute;
    width: 18%;
    right: 40px;
    bottom: 0;
    height: 68%;
    background: #f3b95d30;
}
.box {
    display: flex;
    justify-content: center;
    width: 80%;
 
    z-index: 2;
    margin: auto;
    margin-bottom: 20px;
}
.content {
    width: 50%;
    background: #fbfbfb9c;
    height: 88%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
    padding:4rem;
    color: black;
}
.content h1 {
    padding-bottom: 20px;
    font-size: 2.4rem;
}
.content p {
    font-weight: 700;
    font-size: 1.1rem;
    line-height: 1.5rem;
    color: #787878;
    padding-bottom: 20px;
}
a.btn {
    text-decoration: none;
    color: white;
    background: black;
    font-weight: 700;
    position: relative;
    width: 10rem; 
    text-align: center;
    padding: 17px;
    padding-left: 17px;
    transition: 0.5s ease-in-out;
}

a.btn:hover {
    background: #d0d0d0;
    transition: 0.5s ease-in-out;
    color: rgb(0, 0, 0);
    width: 14rem;
}
a.btn:before {
    content: '';
    width: 0%;
    height: 2px;
    left: 90%;
    top: 28px;
    background: #000000;
    position: absolute;
    transition: 0.5s ease-in;
}
a.btn:hover:before {
    width: 30%;
    transition: 0.5s ease-in;
}
.imgb {
    overflow: hidden;
    width: 50%;
    border: 20px solid #ffffff;
    
    box-shadow: -10px 0px 20px 0px #8888885e;
}
img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    transition: 0.5s cubic-bezier(1, -0.01, 0.57, 1);
}
img:hover{
    transform: scale(1.1);
    transition: 0.5s cubic-bezier(1, -0.01, 0.57, 1);
}

/*******************************Footer******************************/
.footer{
    width: 100%;
    height: auto;
    background-color: #161616;
    z-index: 3;
}
.about4 {
    position: relative;
    width: 100%;
    padding-top: 54px;
    height: auto;
    background-color: #161616;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-top: auto;
}

.about4 .logo a {
text-decoration: none;
color: #a5a5a5;
font-size: 1.8rem;
font-family: Amarillo;
font-weight: bold;
position: relative;
transition: 0.3s ease-in;
cursor:default;
}
.about4 .logo a:hover{
color: rgb(255, 255, 255);
transition: 0.5s  ease-in;
}
.navbar {
width: 100%;
display: flex;
align-items: center;
justify-content: center;
margin: auto;
position: relative;
padding: 40px;
height: 82px;
margin-bottom: 20px;
transition: .5s;
}
.navbar ul li{
list-style: none;
display: inline-block;
}
.navbar ul li a{
text-decoration: none;
color: rgb(179, 179, 179);
font-size: 18px;
padding: 1.2rem;
cursor: pointer;
transition: .5s;
}
.navbar ul li a:hover{
color: rgb(255, 255, 255);
background-color: rgb(29, 29, 29);
transition: 0.1s ease-in;
}

.copyright p{
color:rgb(87, 87, 87);
padding: 1rem;
}




/****************************************Media*************************/

@media (max-width:1220px){
    html{
        font-size: 90%;
    }
    .about4 .logo a {
        font-size: 2.3rem;
    }
}

@media (max-width:1150px){
    nav ul li a {
        font-size: 14px;
        padding: 18px;
    }
}

@media (max-width:1050px){  
    html{
        font-size: 80%;
    }
    .box {
        width: 100%;
    }
}

@media (max-width:940px){      /*mob nav*/
    html {
        font-size: 74%;
    }
    header{
        display: none;
    }
    
    .about4 .logo a {
        font-size: 2.5rem;
    }
    .copyright p{
        padding: 1.5rem;
        font-size: 1.4rem;
        }
    
     /**************************mob nav***********/
     headnav {
        position: fixed;
        height: 80px;
        width: 100%;
        padding: 0 23px;
        display: flex;
        z-index: 16;
        margin: auto;
        align-items: center;
        overflow: hidden;
        justify-content: space-between;
        transition: 0.5s ease-out;
        animation: uptop 3.5s ease-out ;
    }
    @keyframes uptop{
        0%{
            opacity: 0;
            transform: translateY(-100px); 
        }
        70%{
            opacity: 0;  
            
        }
        100%{
            opacity: 1;
            transform: translateY(0px); 
        }
    }
    headnav.sticky{
        background-color: rgb(31, 31, 31);
        transition: 0.5s ease-in;
    }
    .navigation {
        display: flex;
        flex-direction: column;
        position: fixed;
        align-items: center;
        justify-content: center;
        z-index: 15;
        padding: 30px;
        width: 100%;
        height: 537px;
        background: #1f1f1f;
        transform: translateY(-100%);
        transition: 0.5s cubic-bezier(1, 0.01, 0, 1.01);
      }
      .navigation:after {
        position: absolute;
        content: '';
        width: 4%;
        height: 1px;
        background: #ff8100;
        bottom: 9px;
    }
      .navigation a {
        text-decoration: none;
        padding: 15px;
        font-size: 26px;
        color: white;
        font-weight: 700;
        text-align: center;
    }
    .navigation.Diam{
        transform: translateY(0%);
        transition: 0.5s cubic-bezier(1, 0.01, 0, 1.01);;
        border-radius: 0px;
        height: 528px;
    }
    /**************************nav********************/
    /*******************footer*/
    .navbar{
        display: none;
    }
}

@media (max-width:864px){

    .greet h3 {
        font-size:4.7rem;
    }
    .content {
        padding: 3rem;
    }
}

@media (max-width:768px){
    section .text {
        justify-content: center;
        align-items: center;
    }
    .sec:before {
        content: '';
        position: absolute;
        width: 28%;
        left: 1px;
        top: 0;
        height: 47%;
        background: #8d939133;
    }
    .sec:after {
        content: '';
        position: absolute;
        width: 28%;
        right: 1px;
        bottom: 0;
        height: 47%;
        background: #f3b95d30;
    }
    .sec {
        width: 100%;
        padding: 1rem;
    }
    .box {
        width: 100%;
        flex-direction: column;
    }
    .p2{
        flex-direction: column-reverse;
    }
    .content {
        width: 100%;
        background: #ff000000;
    }
    .content p {
       
        font-size: 1.5rem;
        line-height: 2.3rem;
    }
    .imgb {
        width: 100%;
        border: 5px solid #ffffff;
        box-shadow: none;
    }
}

@media (max-width:600px){
    section h2 {
        font-size: 2rem;
    }
    section h3 {
        font-size: 10rem;
    }
    .about4 .logo a {
        font-size: 1.7rem;
    }
    .copyright p{
        padding: 2rem;
        }
}

@media (max-width:480px){
    .mob-logo h3 {
        font-size: 20px;
    } 
    a.btn {
        width: 14rem;
    }
}

@media (max-width:412px){
    html {
        font-size: 57%;
    }
    .intro {
        height: 641px;
    }
    section h2 span {
        left: 0px;
    }
    .intro h2 {
        font-size: 2.2rem;
    }
    
    headnav.sticky {
        position: fixed;
        height: 65px;
    }
}

@media (max-width:376px){
    section img {
        position: fixed;
        top: 0;
        height: 114%;
        animation: 3s fade cubic-bezier(0, 0.02, 0, 1.2);
}

@keyframes fade{
    0%{
        opacity: 0; 
      
      
        height: 0%;
    }
    100%{
        opacity: 1;
    
        height: 114%;
    }
}

}

@media (max-width:361px){

    .greet h1 {
        font-size: 2rem;
    }
    .greet h3 {
        font-size: 4.7rem;
    }
    
}
@media (max-width:321px){
    section .text {
        height: 615px;
    }
    .navigation a {
        font-size: 20px;
    }
    .about4 {
        padding-top: 20px;
    }
}

@media(max-width:281px){
    .navigation a {
        font-size: 19px;
    }
}