
/*screen 1482px****/

@media only screen and (max-device-width: 1482px) , only screen and (max-device-height: 640px) {
    
    .para2 {
        color: #b7b7b7;
        font-size: 18px;
        line-height: 28px;
    }   
    .connect-msg {
        font-size: 13px; 
    }    
    .Journey p {
        font-size: 17px;
        line-height: 25px;
    }

    .sec {
        font-size: 17px;
        line-height: 25px;
    } 
    .Bnw {
        height: 58vh;
        margin-top: 114px;
    }   
    .Bnw:before {
        top: 130px;
    }
    .text {
        padding: 52px;
    }
    .text p {
        font-size: 16px;
        line-height: 24px;
    }
    .im2 {
        width: 43%;
    }
    .im2 img {
        width: 100%;
        height: 70vh;
    }
    .blurp {
        width: 57%;
    }
    .text p:after {
        bottom: 205px;
        left: 49.5%;
    }
    .im img {
        height: 77%;
    }
}

/*screen 1301px****/
@media only screen and (max-device-width: 1301px){



    .sec {
        font-size: 16px;
    }





















}