@media (max-width : 1336px) ,  (max-height: 690px){
    .none{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        background: red;
        color: white;
    }
    .navbar{
        display: none;
    }
    .world{
        display: none;
    }
    .landing{
        display: none;
    }
    
}